.container{
    box-sizing: border-box;
    overflow: hidden;
    
}
.table{
    margin-left: 200px;
    margin-right: 300px;
    margin-top: 50px;
   
}



@media screen and (max-width: 600px){
    .table{
        margin-left: 20px;
        margin-right: 30px;
        margin-top: 50px;
       
    } 
}